.video-title {
    min-width: 900px;
    max-width: fit-content;
    margin: 20px auto;
    padding: 15px 60px;
    color: grey;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid grey;
}